[Desktop Entry]
Categories=Application;AudioVideo;
Comment=Frontend for MiniDLNA
Exec=kminidlna
Name=KMiniDLNA
GenericName=DLNA
Icon=kminidlna.png
StartupNotify=true
Terminal=false
Type=Application