[Desktop Entry]
Categories=Application;AudioVideo;
Comment=Qt Frontend for minidlna
Exec=qminidlna
Name=qminidlna
GenericName=DLNA
Icon=qminidlna.png
StartupNotify=true
Terminal=false
Type=Application
